# Secrets - NEVER commit these
KaggleAPIKEY.txt
kaggle.json
.kaggle/

# Data & Weights - too large for git
data/
checkpoints/
submission.csv
*.pt
*.pth
*.onnx
*.dcm
*.dicom
*.npy
*.parquet



# Python
__pycache__/
*.pyc
.venv/
*.egg-info/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store
.env
